/* WEBFONTS */

@font-face {
    font-family: 'source_sans_problack';
    src: url('fonts/sourcesanspro-black-webfont.eot');
    src: url('fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-black-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-black-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_problack_italic';
    src: url('fonts/sourcesanspro-blackit-webfont.eot');
    src: url('fonts/sourcesanspro-blackit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-blackit-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-blackit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-blackit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-blackit-webfont.svg#source_sans_problack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold_italic';
    src: url('fonts/sourcesanspro-boldit-webfont.eot');
    src: url('fonts/sourcesanspro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-boldit-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-boldit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-boldit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-boldit-webfont.svg#source_sans_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proextralight';
    src: url('fonts/sourcesanspro-extralight-webfont.eot');
    src: url('fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-extralight-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proXLtIt';
    src: url('fonts/sourcesanspro-extralightit-webfont.eot');
    src: url('fonts/sourcesanspro-extralightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-extralightit-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-extralightit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-extralightit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-extralightit-webfont.svg#source_sans_proXLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('fonts/sourcesanspro-it-webfont.eot');
    src: url('fonts/sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-it-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-it-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('fonts/sourcesanspro-light-webfont.eot');
    src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prolight_italic';
    src: url('fonts/sourcesanspro-lightit-webfont.eot');
    src: url('fonts/sourcesanspro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-lightit-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-lightit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-lightit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-lightit-webfont.svg#source_sans_prolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('fonts/sourcesanspro-semibold-webfont.eot');
    src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proSBdIt';
    src: url('fonts/sourcesanspro-semiboldit-webfont.eot');
    src: url('fonts/sourcesanspro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-semiboldit-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-semiboldit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-semiboldit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-semiboldit-webfont.svg#source_sans_proSBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_pro_demoregular';
    src: url('fonts/Code_Pro_Demo-webfont.eot');
    src: url('fonts/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Code_Pro_Demo-webfont.woff2') format('woff2'),
         url('fonts/Code_Pro_Demo-webfont.woff') format('woff'),
         url('fonts/Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('fonts/Code_Pro_Demo-webfont.svg#code_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'source_sans_prosemibold';
}

h1 {
	font-size: 4em;
    font-family: 'code_pro_demoregular';
    color: white;
}

h2 {
    color: white;
}

h3 {
    font-family: 'code_pro_demoregular';
    text-align: left;
}

h4 {
    font-family: 'code_pro_demoregular';
    text-align: left;
}

h5 {
    font-size: 1.2em;
    font-family: 'source_sans_prosemibold';
}

/* Full page div for all pages, fallback in pixels */

.full-page {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 700px; /* fallback */
	min-height: 100vh;
	text-align: center;
	position: relative;
	background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("bg.jpg") no-repeat center 28%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='team2.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='team2.jpg', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
}

/* Heading container for index + logged. Vertically centered with position:absolute,
which doesn't work too nicely if page resized vertically to a small size. :E */

.head {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 65%;
}

@media (max-width: 767px) {
    .head {
    	width: 90%;
    }
}

.btn:focus, .btn:active {
    outline: none;
}

.btn.disabled {
    cursor: pointer;
}

a.btn.disabled {
    pointer-events: auto;
}

/* Container for Dashboard */

.dashboard-container {
    background: none;

    padding-bottom: 35px; /* fallback */
    padding-top: 49px; /* fallback */

    padding-bottom: 7vh;
    padding-top: 7vh;

    color: black;
}

#ranking {
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
}

/* Ordered list styling */

ol {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
}

ol > li {
    position: relative;
    margin: 0 0 6px 2em;
    padding-left: 1%;
    list-style: none;
    background: #F6F66;
    padding-top: 35px; /* fallback */
    padding-top: 5vh;
}

ol > li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    margin-right: 8px;
    color: white;
    font-family: 'code_pro_demoregular';
    font-size: 3em;
    text-align: center;
}

li ol,
li ul {
    margin-top: 6px;
}

ol ol li:last-child {
    margin-bottom: 0;
}

.row {
    min-height: 140px; /* fallback */
    min-height: 20vh;
    background-color: #F9F9F9;
}

.col-md-3 {
    text-align: center;
    font-size: 1.5em;
    font-family: 'code_pro_demoregular';
}

.icon {
    width: 6%;
}

.icon-container {
    padding-top: 14px; /* fallback */
    padding-bottom: 14px; /* fallback */

    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: left;
    width: 100%;
    height: auto;
    font-family: 'code_pro_demoregular';
    font-size: 2.5em;
}

/* Pie Charts */

.chart-container {
    display: block;
    width: 100%;
    min-height: 105px; /* fallback */
    min-height: 15vh;
    position: relative;
    margin: 0 auto;
    padding-top: 14px; /* fallback */
    padding-top: 2vh;
}

canvas {
    width: 100%;
    height: auto;
}

/* Labels for Pie Charts */

.pie-legend li span {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 5px;
}

.pie-legend {
    list-style: none;
    text-align: left;
    padding-left: 0;
    padding-top: 21px; /* fallback */
    padding-top: 3vh;
}

footer {
    font-family: "code_pro_demoregular";
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    min-height: 2vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover, footer a:focus, footer a:active {
    color: #E9E9E9;
}

#logout {
    position: absolute;
    right: 1%;
    top: 14px; /* fallback */
    top: 2vh;
}